/* type writer */
  h1 
  {
    font-size: 2em;
    color: whitesmoke;
    text-transform: uppercase;
  }
  
  span 
  {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret 
  {
    50% {
      border-color: transparent;
    }
  }
  h1:hover ~ .cursor
  {
      transition: 0.05s;
      transform: scale(2);
  }